@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  :root {
    --blue: rgb(46, 134, 193, 0.9);
    --red: rgb(176, 58, 46, 0.9);
    --green: rgb(30, 132, 73, 0.9);
    --orange: rgb(202, 111, 30, 0.9);
  }

  body {
    background-image: url("../images/inner-citadel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkslategrey;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 30px 20px;
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    border-width: 8px;
    border-color: white;
    border-radius: 40px;
    border-style: solid;
    padding: 10px 100px;
    font-size: 40px;
    color: white;
}

.button:hover, #start:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px;
    transition: transform 150ms;
    transform: scale(1.03);
}

.button1 {
    background-color: var(--blue);
}

.button2 {
    background-color: var(--green);
}

.button3 {
    background-color: var(--orange);
}

.button4 {
    background-color: var(--red);
}

#start{
    background-color: rgba(255, 255, 255, 0.6);
}

#question{
    border-width: 10px;
    border-color: white;
    border-radius: 40px;
    border-style: solid;
    width: 80vw;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

#question p{
    font-family: 'Audiowide', sans-serif;
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}