@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  :root {
    --blue: #4F62BA;
    --red: #C82D44;
    --green: #4EBC55;
    --orange: #FF6F47;
  }

  body {
    background-image: url("../images/inner-citadel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkslategrey;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 30px 20px;
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.begin {
    border: 8px black solid ;
    border-radius: 40px;
    padding: 25px 100px;
    font-size: 10px;
    color: white;
}

.begin-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 30px 20px;
}

.button {
    border: 8px white solid ;
    border-radius: 40px;
    padding: 25px 100px;
    font-size: 40px;
    color: white;
}

.button:hover, #start:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px;
    transition: transform 150ms;
    transform: scale(1.03);
}

.button1 {
    background-color: var(--blue);
}

.button2 {
    background-color: var(--green);
}

.button3 {
    background-color: var(--orange);
}

.button4 {
    background-color: var(--red);
}

#start{
    background-color: rgba(255, 255, 255, 0.6);
}

#question {
    font-size: 35px;
    border-width: 6px;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    width: 80vw;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px 20px;
}

#question p{
    font-family: 'Nova Square', sans-serif;
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#progress {
    position: relative;
    text-align: center;
    padding: 11px 4px 1px 4px;
    background: whitesmoke;
    display: inline;
    border: black 6px solid;
    border-radius: 20%;
}

.prog {
    width: 50px;
    height: 20px;
    border-left: 3px solid whitesmoke;
    display: inline-block;
}

#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}